<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      @charset "UTF-8";
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak,
      .ng-hide {
        display: none !important;
      }
      ng\:form {
        display: block;
      }
      .ng-animate-block-transitions {
        transition: 0s all !important;
        -webkit-transition: 0s all !important;
      }
      .ng-hide-add-active,
      .ng-hide-remove {
        display: block !important;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="canonical" href="https://www.instahyre.com/software-engineer-jobs-in-bangalore/" />

    <title>Zero Hassle Job Search - Instahyre</title>

    <meta
      property="og:description"
      content="Let the best companies in India compete to hire you! Get your perfect job in tech, product, marketing, sales or operations. Hire the best talent faster."
    />
    <meta
      name="description"
      content="Let the best companies in India compete to hire you! Get your perfect job in tech, product, marketing, sales or operations. Hire the best talent faster."
    />
    <meta
      name="twitter:description"
      content="Let the best companies in India compete to hire you! Get your perfect job in tech, product, marketing, sales or operations. Hire the best talent faster."
    />

    <meta property="og:title" content="The Zero Hassle Hiring Platform - Instahyre" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.instahyre.com" />
    <meta
      property="og:image"
      content="https://static.instahyre.com/images/misc/facebook-image.webp"
    />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="500" />
    <meta property="og:site_name" content="Instahyre" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@instahyre" />
    <meta name="twitter:title" content="The Zero Hassle Hiring Platform - Instahyre" />
    <meta
      name="twitter:image"
      content="https://static.instahyre.com/images/misc/facebook-image.webp"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-57x57.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-114x114.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-72x72.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-144x144.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-60x60.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-120x120.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-76x76.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-152x152.webp"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://static.instahyre.com/images/apple-touch/apple-touch-icon-180x180.webp"
    />
    <link
      rel="manifest"
      href="https://static.instahyre.com/images/android-homescreen/manifest.json"
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- CSS Stylesheets -->

    <link
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://static.instahyre.com/css/output.661c5e47ab02.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://static.instahyre.com/css/output.22f3fff48233.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://static.instahyre.com/css/output.37d00aab9bd5.css"
      type="text/css"
    />

    <!-- Start desktop landing pages CSS -->

    <link
      rel="stylesheet"
      href="https://static.instahyre.com/css/output.4df1fcf39a06.css"
      type="text/css"
    />

    <!-- End desktop landing pages CSS -->

    <link
      rel="stylesheet"
      href="https://static.instahyre.com/css/output.4df1fcf39a06.css"
      type="text/css"
    />

    <!--Start of Fonts script-->

    <link rel="stylesheet" type="text/css" href="https://static.instahyre.com/fonts/fonts.css" />

    <!--End of Fonts script-->

    <!-- Polyfill for older browsers -->
    <script
      type="text/javascript"
      async=""
      src="https://snap.licdn.com/li.lms-analytics/insight.min.js"
    ></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NLB273L"></script>
    <script type="text/javascript">
      if (!(window.Promise && [].includes && Object.assign && window.Map)) {
        document.write('<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></scr' + 'ipt>');
      }
    </script>

    <!-- Yeps {literal} -->

    <!-- /Yeps {/literal} -->

    <!-- Recaptcha -->

    <link rel="preconnect" href="https://www.google.com" />
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin="" />
  </head>

  <body ng-app="auctioned" class="ng-scope">
    <!-- djlint:off -->
    <div id="main-page">
      <!-- djlint:on -->

      <div id="wrap" class="">
        <nav
          id="navigation"
          class="navbar navbar-default navbar-fixed-top affix-top"
          role="navigation"
          data-spy="affix"
          data-offset-top="1"
        >
          <div class="container-fluid container-wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#collapse-navigation-links"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="navbar-brand" href="/">
                <img
                  class="logo navbar-logo"
                  src="https://static.instahyre.com/images/logos/logo.webp"
                  alt="Instahyre"
                />
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse-navigation-links">
              <ul class="nav navbar-nav navbar-right">
                <li><a id="nav-invite-friends" href="/invite/">Invite friends</a></li>

                <li><a id="nav-search-jobs" href="/search-jobs/">Find Jobs</a></li>

                <li><a id="nav-user-login" href="/login/">Login</a></li>

                <li><a id="nav-user-signup" href="/candidates/register/">Signup</a></li>

                <li>
                  <a id="nav-for-employers" href="/employers/"><span>Employers</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div id="messages" growl="" class="ng-scope">
          <div class="growl"><!-- ngRepeat: message in messages --></div>
        </div>

        <div id="error-page" class="container main text-center">
          <img
            class="error-img"
            src="https://static.instahyre.com/images/errors/404.svg"
            alt="error"
          />

          <h1 class="heading">Error: page not found :(</h1>
        </div>

        <div class="container text-center">
          <div class="row">
            <p>The Instahyre team has been notified of this error.</p>

            <div ng-controller="anonContactModalCtrl" class="ng-scope">
              <p>
                If the problem persists, please

                <!-- djlint:off --><a style="cursor: pointer" ng-click="toggleAnonContactModal()"
                  >contact us.</a
                ><!-- djlint:on -->

                <!-- djlint:off -->
              </p>
              <!-- ngIf: showAnonContactModal -->

              <div
                id="anonymous-contact-modal"
                ng-show="anonContactSubmitMsg"
                class="application-modal contact-modal ng-hide"
              >
                <div class="application-modal-block">
                  <div
                    ng-click="closeForm(false, true)"
                    class="application-modal-backdrop close-form"
                  ></div>

                  <div class="application-modal-wrap">
                    <div class="application-modal-heading">
                      <h4 id="anonymous-modal-heading">Your query has been sent</h4>
                    </div>

                    <div class="application-modal-content">
                      <center>One of our representatives will contact you shortly.</center>
                    </div>

                    <div class="application-modal-action text-center">
                      <button ng-click="closeForm(false, false)" class="btn btn-default close-form">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <p></p>
            </div>
          </div>
        </div>

        <!-- CLS related change. `#push` element is not required for "job-search page", "job-details page" and "employer-profile page" for anonymous users. -->

        <div id="push" ng-hide="noScrollPage" class=""></div>
      </div>

      <div ng-controller="anonContactModalCtrl" class="ng-scope">
        <footer
          id="footer"
          ng-hide="noScrollPage"
          class="navbar navbar-default"
          ng-class="{'fixed-footer': isAddJobPage}"
        >
          <div class="container-fluid container-wrapper">
            <div class="navbar">
              <div class="footer-startup-jobs footer-no-mobile footer-block">
                <div class="footer-block-wrap">
                  <h4 class="footer-block-heading">Jobs by Location</h4>
                  <div class="footer-block-content">
                    <li>
                      <a id="footer-jobs-bangalore" href="/jobs-in-bangalore/">Jobs in Bangalore</a>
                    </li>
                    <li>
                      <a id="footer-jobs-delhi-ncr" href="/jobs-in-delhi-ncr/"
                        >Jobs in Delhi / NCR</a
                      >
                    </li>
                    <li>
                      <a id="footer-jobs-hyderabad" href="/jobs-in-hyderabad/">Jobs in Hyderabad</a>
                    </li>
                    <li><a id="footer-jobs-mumbai" href="/jobs-in-mumbai/">Jobs in Mumbai</a></li>
                  </div>
                </div>
              </div>
              <div class="footer-startup-jobs footer-no-mobile footer-block">
                <div class="footer-block-wrap">
                  <h4 class="footer-block-heading">Jobs by Function</h4>
                  <div class="footer-block-content">
                    <li>
                      <a id="footer-software-engineering-jobs" href="/software-engineering-jobs/"
                        >Software Engineering Jobs</a
                      >
                    </li>
                    <li>
                      <a id="footer-marketing-jobs" href="/marketing-jobs/">Marketing Jobs</a>
                    </li>
                    <li>
                      <a id="footer-sales-jobs" href="/sales-and-business-jobs/">Sales Jobs</a>
                    </li>
                    <li>
                      <a id="footer-internship-jobs" href="/internship-jobs/">Internship Jobs</a>
                    </li>
                  </div>
                </div>
              </div>
              <div class="footer-employers footer-no-mobile footer-block">
                <div class="footer-block-wrap">
                  <h4 class="footer-block-heading">For Employers</h4>
                  <div class="footer-block-content">
                    <li>
                      <a id="footer-employer-register" href="/employers/register/"
                        >Post Your Jobs</a
                      >
                    </li>
                    <li>
                      <a
                        id="footer-success-stories"
                        href="https://resources.instahyre.com/success-stories/"
                        target="_blank"
                        >Success Stories</a
                      >
                    </li>
                    <li>
                      <a
                        id="footer-product-academy"
                        href="https://academy.instahyre.com/product/"
                        target="_blank"
                        >Product Academy</a
                      >
                    </li>
                    <li>
                      <a id="footer-blog" href="https://resources.instahyre.com" target="_blank"
                        >Resources</a
                      >
                    </li>
                  </div>
                </div>
              </div>
              <div class="footer-instahyre footer-no-mobile footer-block">
                <div class="footer-block-wrap">
                  <h4 class="footer-block-heading">Instahyre</h4>
                  <div class="footer-block-content">
                    <li>
                      <a id="footer-workscape" href="https://workscape.instahyre.com">Workscape</a>
                    </li>
                    <li><a id="footer-about" href="/about/">About</a></li>
                    <li><a id="footer-privacy" href="/privacy/">Privacy</a></li>
                    <li><a id="footer-terms" href="/terms/">Terms</a></li>
                  </div>
                </div>
              </div>
              <div class="footer-connect footer-block">
                <div class="footer-block-wrap">
                  <h4 class="footer-block-heading">Connect</h4>
                  <div class="footer-block-content">
                    <li class="footer-no-mobile">
                      <a id="footer-blog" href="https://instahyre.crisp.help/en/" target="_blank"
                        >Help Center</a
                      >
                    </li>

                    <li ng-click="toggleAnonContactModal()">
                      <a id="footer-contact-us">Contact Us</a>
                    </li>

                    <li class="footer-social-links">
                      <span
                        ><a
                          id="footer-facebook"
                          href="https://www.facebook.com/instahyre"
                          target="_blank"
                          ><i class="fa fa-facebook-square"></i></a
                      ></span>
                      <span
                        ><a
                          id="footer-linkedin"
                          href="https://www.linkedin.com/company/instahyre"
                          target="_blank"
                          ><i class="fa fa-linkedin-square"></i></a
                      ></span>
                      <span
                        ><a id="footer-twitter" href="https://twitter.com/instahyre" target="_blank"
                          ><i class="fa fa-twitter-square"></i></a
                      ></span>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>

        <!-- djlint:off -->
        <!-- ngIf: showAnonContactModal -->

        <div
          id="anonymous-contact-modal"
          ng-show="anonContactSubmitMsg"
          class="application-modal contact-modal ng-hide"
        >
          <div class="application-modal-block">
            <div
              ng-click="closeForm(false, true)"
              class="application-modal-backdrop close-form"
            ></div>

            <div class="application-modal-wrap">
              <div class="application-modal-heading">
                <h4 id="anonymous-modal-heading">Your query has been sent</h4>
              </div>

              <div class="application-modal-content">
                <center>One of our representatives will contact you shortly.</center>
              </div>

              <div class="application-modal-action text-center">
                <button ng-click="closeForm(false, false)" class="btn btn-default close-form">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Javascript -->

    <script type="text/javascript">
      var isNotSupported = false;

      if (/Edge\//.test(navigator.userAgent)) {
        var browser_version = navigator.userAgent.split('Edge/')[1].split(' ')[0];
        var browser_version = browser_version.split('.')[0];

        if (!isNaN(browser_version)) {
          browser_version = Number(browser_version);
          isNotSupported = browser_version < 16;
        }
      }

      // If the browser is IE/Edge Legacy, then redirect to Edge and
      // show a microsoft page that this website is not available on
      // Internet Explorer.
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent) || isNotSupported) {
        window.location = 'microsoft-edge:' + window.location;
        setTimeout(function () {
          window.location = 'https://go.microsoft.com/fwlink/?linkid=2135547';
        }, 1);
      }
    </script>

    <script type="text/javascript">
      var settingsMode = 'prod',
        STATIC_URL = 'https://static.instahyre.com/';
    </script>

    <script
      src="https://static.instahyre.com/js/output.d47e39f2af87.js"
      type="text/javascript"
    ></script>

    <!-- Google tag (gtag.js) -->

    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-0PQL61K7YN"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-0PQL61K7YN', { send_page_view: false });
      gtag('event', 'page_view', { dimension1: 'anonymous' });
    </script>

    <!--End of Google Analytics Script-->

    <!-- Google Tag Manager -->
    <script type="text/javascript">
      key = 'GTM-NLB273L';

      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', key);
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <!-- djlint:off -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NLB273L
                    "
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- djlint:on -->
    <!-- End Google Tag Manager (noscript) -->

    <!-- Usetiful -->

    <!-- End Usetiful -->

    <!-- Re-integration modal -->

    <!-- End Re-integration modal -->

    <!-- Leaderboard new achievement modals -->

    <!-- Google Schema code -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Instahyre",
        "url": "https://www.instahyre.com",
        "logo": "https://static.instahyre.com/images/logo_200_200.webp",
        "sameAs": [
          "https://www.facebook.com/instahyre/",
          "https://in.linkedin.com/company/instahyre",
          "https://twitter.com/instahyre"
        ],
        "description": "Instahyre is an advanced hiring platform based on artificial intelligence, enabling recruiters to hire top talent effortlessly and candidates to find their dream job."
      }
    </script>
    <!-- End of Google Schema code -->

    <!-- LinkedIn Insights tag -->
    <script type="text/javascript">
      _linkedin_partner_id = '173763';
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function (l) {
        if (!l) {
          window.lintrk = function (a, b) {
            window.lintrk.q.push([a, b]);
          };
          window.lintrk.q = [];
        }
        var s = document.getElementsByTagName('script')[0];
        var b = document.createElement('script');
        b.type = 'text/javascript';
        b.async = true;
        b.src = 'https://snap.licdn.com/li.lms-analytics/insight.min.js';
        s.parentNode.insertBefore(b, s);
      })(window.lintrk);
    </script>
    <noscript>
      <!-- djlint:off --><img
        height="1"
        width="1"
        style="display: none"
        alt=""
        src="https://px.ads.linkedin.com/collect/?pid=173763&fmt=gif"
      /><!-- djlint:on -->
    </noscript>
    <!-- End of LinkedIn Insights tag -->

    <script
      src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript">
      window.jQuery ||
        document.write(
          '<script src="https://static.instahyre.com/external/jquery-1.11.1.min.js"><\/script>'
        );
    </script>

    <script
      src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
      type="text/javascript"
    ></script>

    <!-- Center all modals -->
    <script type="text/javascript">
      function centerModals($element) {
        var $modals;
        if ($element.length) {
          $modals = $element;
        } else {
          $modals = $('.modal-vcenter:visible');
        }
        $modals.each(function (i) {
          var $clone = $(this).clone().css('display', 'block').appendTo('body');
          var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
          top = top > 0 ? top : 0;
          $clone.remove();
          $(this).find('.modal-content').css('margin-top', top);
        });
      }
      $('.modal-vcenter').on('show.bs.modal', function (e) {
        centerModals($(this));
      });
      $(window).on('resize', centerModals);
    </script>

    <script type="text/javascript">
      // Add growl error from outside scope
      // Temporary change for T12801
      function addGrowlError() {
        scope = angular.element(document.body).scope();
        var errorMsg =
          'Something went wrong \
                                        Please reload and try again';
        addMessage(scope.growl, 'error', errorMsg);
        scope.$apply();
        console.error(errorMsg);
      }

      var onloadCallback = function () {
        grecaptcha.enterprise.render('recaptcha_element', {
          sitekey: '6Ldk700gAAAAAA8qpaAO64Q2nvGemFSXWZiivXrt',
          'expired-callback': function () {
            addGrowlError();
          },
          'error-callback': function (e) {
            addGrowlError();
          },
        });
      };
    </script>
    <script
      src="https://static.instahyre.com/js/output.ceda626d55b1.js"
      type="text/javascript"
    ></script>

    <script
      src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"
      type="text/javascript"
    ></script>

    <!--Start of Sentry SDK Config - needs to be below angular declaration, but above application code declaration-->
    <script
      src="https://browser.sentry-cdn.com/5.1.0/bundle.min.js"
      crossorigin="anonymous"
      type="text/javascript"
    ></script>

    <script type="text/javascript">
      let modifierKeyPressed = false;

      /*
       * An easy-to-use wrapper around the browser's local storage
       * Allows storage/retrieval of JS objects as values
       */
      var auctionStorage = (function () {
        let storageList = ['localStorage', 'sessionStorage'];

        return {
          set: function (key, value, storage, parse) {
            if (!storage) {
              storage = 'localStorage';
            }

            if (parse == null) {
              parse = true;
            }

            // If cookies are disabled then we can't access `localStorage` or `sessionStorage`.
            if (storageList.includes(storage) && !areCookiesEnabled()) {
              return;
            }

            if (parse) {
              window[storage].setItem(key, JSON.stringify(value));
            } else {
              window[storage].setItem(key, value);
            }
          },

          get: function (key, storage) {
            if (!storage) {
              storage = 'localStorage';
            }

            // If cookies are disabled then we can't access `localStorage` or `sessionStorage`.
            if (storageList.includes(storage) && !areCookiesEnabled()) {
              return null;
            }

            var value = window[storage].getItem(key);

            if (value === 'undefined') {
              // Don't JSON.parse this
              return '';
            }
            return value && JSON.parse(value);
          },
          remove: function (key, storage) {
            if (!storage) {
              storage = 'localStorage';
            }

            // If cookies are disabled then we can't access `localStorage` or `sessionStorage`.
            if (storageList.includes(storage) && !areCookiesEnabled()) {
              return;
            }

            window[storage].removeItem(key);
          },
          is_accessible: function (storage) {
            if (!storage) {
              storage = 'localStorage';
            }

            try {
              window[storage];
              return true;
            } catch (err) {
              return false;
            }
          },
        };
      })();

      window.addEventListener('keydown', function (event) {
        // Check if Ctrl key or Command (for mac) is pressed
        if (event.key === 'Control' || event.key === 'Meta' || event.key === 'Shift') {
          modifierKeyPressed = true;
        }
      });

      // When Ctrl/Command key is lifted
      window.addEventListener('keyup', function (event) {
        if (event.key === 'Control' || event.key === 'Meta' || event.key === 'Shift') {
          modifierKeyPressed = false;
        }
      });

      window.addEventListener('beforeunload', function (event) {
        // If page is refreshed while Ctrl is pressed
        if (modifierKeyPressed) {
          auctionStorage.remove('errorCountMap', 'sessionStorage');
        }
      });

      /**
       * This is the Sentry event filter method.
       * To avoid sending an event to sentry
       * return null or even can send modified
       * and custom event to Sentry server.
       */
      function filterSentryEvents(event, hint) {
        var pattern = /freed script/i;
        var targetEventType = 'Error';
        var eventType = event.exception.values[0].type;
        var eventValue = event.exception.values[0].value;
        var eventLimits = [
          [200, -1],
          [100, 1],
          [10, 10],
        ];
        const ignoredErrors = [
          // Firefox browser errors
          { startsWith: 'NS_ERROR_FILE' },
          { startsWith: 'NS_ERROR_STORAGE' },
          { startsWith: 'NS_ERROR_FAILURE' },
          { startsWith: 'SecurityError' },

          // Specific error messages
          { startsWith: 'ResizeObserver loop completed with undelivered notifications.' },
          { startsWith: "Cannot read properties of undefined (reading 'firefoxSample')" },

          // Outlook Safe Links errors
          { eventType: 'UnhandledRejection', startsWith: '"Object Not Found Matching Id' },

          // Rejected Promise errors
          { eventType: 'UnhandledRejection', startsWith: '"PromiseRejectionEvent' },
          { eventType: 'UnhandledRejection', startsWith: '"Event' },
          { eventType: 'UnhandledRejection', startsWith: '"StalePromiseRejection' },

          // Third-party "CustomEvent" rejection (e.g., Google Analytics)
          { eventType: 'UnhandledRejection', startsWith: '"CustomEvent' },

          // Parser errors
          { startsWith: '[$parse:lexerr]' },
          { regex: /\[\$parse:syntax\].*syntax\?p0=careerBreakStartDate/ },

          // Angular errors
          { regex: /\[ng:areq\].*areq\?p0=([^&]*Ctrl).*p1=not%20a%20function/ },

          // Repeat Errors
          {
            regex:
              /\[ngRepeat:dupes\].*p0=opp%20in%20opportunities%20%7C%20filter%20%3A%20%7B'is_location_match/,
          },
        ];

        if (eventType === targetEventType && pattern.test(eventValue)) {
          return null;
        }

        function matchesIgnoreRegex(eventType, eventValue) {
          return ignoredErrors.some((error) => {
            if (error.eventType && error.eventType !== eventType) return false;
            if (error.startsWith && eventValue.startsWith(error.startsWith)) return true;
            if (error.regex && new RegExp(error.regex).test(eventValue)) return true;
            return false;
          });
        }

        // Avoid sending StaleResponseRejection to Sentry if its due to Angular resource response
        function isStaleResponseRejection(eventType, eventValue) {
          if (eventType === 'UnhandledRejection') {
            try {
              const rejectedValue = JSON.parse(eventValue);
              // Check if it's a rejected Angular resource response
              return rejectedValue.$resolved === true;
            } catch (e) {
              return false;
            }
          }

          return false;
        }

        if (
          matchesIgnoreRegex(eventType, eventValue) ||
          isStaleResponseRejection(eventType, eventValue)
        ) {
          return null;
        }

        // Avoid sending NetworkError to Sentry if its due to Usetiful
        if (
          eventType.startsWith('TypeError') &&
          eventValue.startsWith('NetworkError when attempting to fetch resource')
        ) {
          var breadcrumbs = event.breadcrumbs;

          var isUsetifulIssue = breadcrumbs.find(function (obj) {
            var isUsetifulUrl;

            if (obj.data && obj.data.url) {
              isUsetifulUrl = obj.data.url.includes('usetiful');
            }

            return obj.type === 'http' && obj.level === 'error' && isUsetifulUrl;
          });

          if (isUsetifulIssue) {
            return null;
          }
        }

        // This function checks if the errors are occuring due to interrupting/blocking angular.js file load
        function isAngularLoadingIssue() {
          return (
            (eventType.startsWith('ReferenceError') &&
              eventValue.startsWith('angular is not defined')) ||
            (eventType.startsWith('TypeError') &&
              eventValue.startsWith("Cannot read properties of undefined (reading '$$minErr')"))
          );
        }

        // Avoid Sending the ReferenceError - Angular if its sent in the last 1 hour
        if (isAngularLoadingIssue()) {
          const TIME_LIMIT = 60 * 60 * 1000;
          var lastAngularLogTimeKey = 'lastAngularLogTime';
          var lastAngularLogTimeValue = auctionStorage.get(lastAngularLogTimeKey, 'localStorage');
          var currentTime = Date.now();

          if (lastAngularLogTimeValue) {
            // Check if last log was within 1 hour
            if (currentTime - lastAngularLogTimeValue < TIME_LIMIT) {
              return null;
            } else {
              auctionStorage.set(lastAngularLogTimeKey, currentTime, 'localStorage');
            }
          } else {
            // Create a new entry since it is not present
            auctionStorage.set(lastAngularLogTimeKey, currentTime, 'localStorage');
          }
        }

        // Fingerprint for user session error count map
        let eventFootprint = eventType + ': ' + eventValue + ' | ' + event.request?.url;
        let errorCountMap = auctionStorage.get('errorCountMap', 'sessionStorage');
        let eventCount = 0;

        if (errorCountMap) {
          eventCount = errorCountMap[eventFootprint] || 0;
        } else {
          errorCountMap = {};
        }

        currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0); // Remove the time part

        // If the currentDate is greater than the date when this item was set
        // then don't consider previous counts
        if (errorCountMap['dateCreated'] && errorCountMap['dateCreated'] < currentDate) {
          errorCountMap = {};
        } else {
          errorCountMap['dateCreated'] = currentDate;
        }

        // Random int value between 0 and 99
        let shuffle = Math.floor(Math.random() * 100);

        eventLimits.sort(function (a, b) {
          if (a[0] < b[0]) {
            return 1;
          }

          if (a[0] > b[0]) {
            return -1;
          }

          return 0;
        });

        let rateLimit = 'Not applied';

        for (let limit of eventLimits) {
          countLimit = limit[0];
          percentLimit = limit[1];

          if (eventCount >= countLimit) {
            if (shuffle > percentLimit) {
              return null;
            }

            rateLimit = countLimit;
            break;
          }
        }

        if (!event.tags) {
          event.tags = {};
        }

        event.tags['rate_limit_threshold'] = rateLimit;

        // For TypeErrors in frontend use this custom fingerprinting that would group the events
        // only if they have same error message
        if (eventType === 'TypeError') {
          event.fingerprint = [eventType, eventValue];
        }

        eventCount += 1;
        errorCountMap[eventFootprint] = eventCount;
        auctionStorage.set('errorCountMap', errorCountMap, 'sessionStorage');

        return event;
      }

      Sentry.init({
        dsn: 'https://2697baf0ba584e590ff9576012a578d5@o11604.ingest.sentry.io/5230540',
        whitelistUrls: [
          /instahyre\.com/,
          /amazonaws\.com/,
          /ajax\.googleapis\.com\/ajax\/libs\/angularjs\/1\.2\.27\/angular.min.js/,
        ],
        beforeSend: filterSentryEvents,
      });

      Sentry.configureScope(function (scope) {
        scope.setUser({
          email: '',
          id: 'None',
        });
      });
    </script>

    <!--End of Sentry Config-->

    <script type="text/javascript">
      // Angular failed to load, tell the user to refresh page
      if (!window.angular) {
        document.getElementById('messages').textContent =
          'Sorry! We did something wrong. Please refresh the page and try again.';
      }
      var userId = 'None',
        candidateId = '',
        hasUnverifiedLeaderboardHires = false,
        publicJobId = '',
        employerId = '',
        recruiterId = '',
        isImpersonated = false,
        userName = '',
        isAnonymous = true,
        profileType = 'anonymous',
        isAgency = false,
        isFreeEmployer = false,
        isFreeRecruiter = false,
        protectionActivated = false,
        settingsMode = 'prod',
        isAdmin = false,
        enabledBulkEmails = false,
        enabledATSIntegration = false,
        enabledAutoUploadToATS = false,
        isATSIntegrated = false,
        integratedATSName = '',
        expiredATSIntegration = false,
        previousATSName = '',
        isHiringManager = false,
        isInterviewer = false,
        refineJobUsage = '',
        isWhatsappDisabled = false,
        isLandingPage = false,
        paramValue = '',
        slug = '',
        cityHref = '',
        relativeLocation = '',
        jobSkillHref = '',
        jobFunctionId = null,
        jobCategoryId = null,
        currentCity = '',
        locationValue = '',
        showFineTune = false,
        isSSOIntegrated = false,
        enableLeaderboardProgressModal = false,
        enableMonthlyLeaderboardModal = false,
        isLeaderboardEnabled = false,
        candidateCalculationDone = false,
        isFresherCandidate = false,
        isInternshipSearch = false,
        isPricingPage = false,
        showNewUI = false,
        hasEnterprisePlan = false,
        schedulerBookingPage = false,
        questionnairePage = false,
        showWhatsappVerification = false,
        enableESOpps = false;
      isRecruiterOrAdmin = false;
      isAddJobPage = false;
      isEditJobPage = false;

      var passwordStrength;
    </script>

    <!--Common Js files-->
    <script
      src="https://static.instahyre.com/js/output.f97a05be0914.js"
      type="text/javascript"
    ></script>

    <script
      src="https://static.instahyre.com/js/output.25f14a5eb2d7.js"
      type="text/javascript"
    ></script>

    <script type="text/javascript">
      var storeRenderedTemplate = function (key, htmlString) {
        const injector = angular.element(document.body).injector();
        injector.invoke([
          'templateStorageService',
          function (templateStorageService) {
            templateStorageService.setTemplate(key, htmlString);
          },
        ]);
      };
    </script>

    <script
      defer=""
      src="https://static.cloudflareinsights.com/beacon.min.js/v8c78df7c7c0f484497ecbca7046644da1771523124516"
      integrity="sha512-8DS7rgIrAmghBFwoOTujcf6D9rXvH8xm8JQ1Ja01h9QX8EzXldiszufYa4IFfKdLUKTTrnSFXLDkUEOTrZQ8Qg=="
      data-cf-beacon='{"version":"2024.11.0","token":"40e8e06913b54831a076bce0aa2b9736","server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>
